<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    {{!-- BOOTSTRAP CSS --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/superhero/bootstrap.min.css">

    {{!-- CUSTOM CSS --}}
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

    {{!-- JAVASCRIPT --}}
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/index.js"></script>

    <title>Mongo Scraper</title>
</head>

<body>

    <div class="container">
        {{{body}}}
    </div>

</body>

</html>