<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    {{!-- BOOTSTRAP CSS --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/superhero/bootstrap.min.css">

    {{!-- CUSTOM CSS --}}
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>Mongo Scraper</title>
</head>

<body>

    <div class="container">
        {{{body}}}
    </div>

{{!-- JAVASCRIPT & jQuery --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../public/assets/js/index.js"></script>
    <script src="../public/assets/js/save.js"></script>
</body>
</html>