<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Mongo Sraper</a>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/saved">Saved Articles</a></li>
                <li><a class="btn scrape-new">Scrape New Articles</a></li>
            </ul>
        </div>
</nav>

<div class="jumbotron">
    <h1>Mongo Scraper</h1>
    <p>Wall Street Journal Edition</p>
</div>

<div class="container-fluid articles">
</div>

<footer class="footer">
    <div class="container">
        <p>WSJ Mongo Scraper</p>
        {{#if data}}
        {{#each data}}
        <div class="card">
            <h5 class="card-header"><a href="{{this.link}}">{{this.title}}</a></h5>
            <div class="card-body">
                <p class="card-text">{{this.summary}}</p>
                <a href="#" id="save" data-id="{{this._id}}" class="btn btn-primary float-right">Save</a>

            </div>
        </div>
        {{/each}}
        {{/if}}

    </div>
</footer>
</div> {{!-- this ends the container --}}

{{!-- JAVASCRIPT --}}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="/assets/js/index.js"></script>